<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul id="list-movie">
      <li class="movie-option">
        <a class="list-group-item list-movie movie" value="${item.id}">
          <div class="showtimes-row">
            <img src="${item.image}" class="lazy" />
            <span><span class="age-rating">T${item.requireAge}</span></span>
            <div class="title-movie">
              <p class="upper-text">The Creator</p>
              <p class="vn upper-text">${item.name}</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </body>
</html>
